/* Footer */
	#footer {
		// @include padding(2em, 0);
		padding: 2em 0 0 0;
		background: #363636;
		color: white;
		box-sizing: border-box;
		border-top: 2px solid #f1c40f;
		h3 {
			color: #f1c40f;
		}
		.soc-button {
			// clear: both;
			padding-bottom: 55px;
			li {
				float: left;
				// border: 1px solid white;
				background-color: #282828;
				padding: 10px;
			}
			li:first-child {
				color: #f1c40f;
				border: none;
				background: none;
			}
		}
		span {
			display: block;
		}
		
		.copyright {
			color: white;
			background: #282828;
			font-size: 0.9em;
			padding: 0;
			margin-top: 20px;
			padding: 20px 0 20px 0;
			text-align: center;

			li {
				border-left: solid _size(border-width) _palette(border);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

			}
		}

		@include breakpoint(small) {
			@include padding(3em, 0);
			text-align: center;
			.copyright {

				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}